<h1>yangh love zzf</h1>

<div>
	<div class="navbar-header">
		<button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand">商品购买系统</a>
	</div>
	<div class="collapse navbar-collapse" id="mymenu">
			<ul class="nav navbar-nav">
				<li class="active"><a href="">商品信息</a></li>
				<li><a href="/center.html">个人订单中心</a></li>
			</ul>
	</div>
</div>

<div class="container">
	<div class="container-fluid">
		<table class="table table-hover">
			<tr>
				<th>序号</th>
				<th>商品名称</th>
				<th>商品类</th>
				<th>商品品牌类</th>
				<th>价格</th>
				<th>上架中</th>
				<th>有库存</th>
				<th>添加自选</th>
			</tr>
			<hr></hr>
			{%content%}
		</table>
	</div>
<div/>
